service: nodejs-aws-lambda
provider:
  name: aws
  region: eu-west-3
  environment:
    SECRET: 'secret'
  runtime: nodejs18.x
functions:
  app:
    handler: dist/lambda.handler
    events:
      - http: ANY /
      - http: ANY /{proxy+}
